<%= form_for(event_note) do |f| %>
  <% if event_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_note.errors.count, "error") %> prohibited this event_note from being saved:</h2>

      <ul>
      <% event_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :admin_id %>
    <%= f.text_field :admin_id %>
  </div>

  <div class="field">
    <%= f.label :event_id %>
    <%= f.text_field :event_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
