<%= bootstrap_form_for(user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.number_field :aclx_id, label: "ACLX Id", value: user.aclx_id || User.next_aclx_id, readonly: true %>  
  <%= f.text_field :forum_name, label: "Forum Name" %>
  <%= f.text_field :full_name, label: "Full Name" %>
  <%= f.email_field :email %>
  <%= f.date_select :date_joined, label: "Date Joined" %>
  <%= f.text_area :comments %>
  <%= f.date_select :last_activity, label: "Last Activity" %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.check_box :id_issued, label: "ID Issued" %>
      <%= f.check_box :has_facebook, label: "Has Facebook" %>
      <%= f.check_box :is_leadership, label: "Leadership Team" %>
      <%= f.check_box :inactive %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.primary "Update" %>
      <%= link_to "Back", users_url, class: "btn btn-default" %>
    </div>
  </div>  
<% end %>