<div class="container">
<div class="card card-info card-inverse">
  <h1 class="card-header">Import Members</h1>
  <div class="card-block">    
    <% @aclx_files.spreadsheets.each do |sheet| %>
      <div class="row">
        <div class="col-xs-10 col-md-6">
          <%= image_tag sheet.icon_link %>
          <span><b><%= sheet.title.titleize %></b></span><br >
          <small class="text-muted">Last modified by: <%= sheet.last_modifying_user.email_address %></small>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <%= image_tag sheet.thumbnail_link %>
        </div>
        <div class="col-md-3 col-xs-2">
          <%= form_tag import_users_path, multipart: true do %>
            <%= hidden_field_tag :file, sheet.human_url %>
            <%= button_tag type: :submit, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-export text-info"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>