<% events.each_with_index do |event, i| %>
  <% if i > 0 %>
  <hr />
  <% end %>
  <%= link_to(event, style: "text-decoration: none;") do %>
  <div class="">
    <p>      
      <%= event.title.titleize %>
      <span class="text-muted">(<%= formatted_time_distance_from_now(event.start) %>)</span>
    </p>
    <p>
      <strong>Date: </strong><%= event.start.localtime.strftime("%-d %b %y (%A)") %><br >
      <strong>Time: </strong><%= event.start.localtime.strftime("%H:%M") %>
    </p>
    <p>
      <span class="glyphicon glyphicon-<%= event.published ? "ok text-success" : "remove text-danger" %>"></span>
      <% if event.has_mappable_location? %>
      <span class="glyphicon glyphicon-map-marker text-danger"></span>
      <% end %>
    </p>
  </div>
  <% end %>
<% end %>