<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-cropped", style: "max-height: 50px; padding-top: -15px; margin-top: -15px" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://www.forum.alamocitylx.org">Forum</a></li>
        <li><%= link_to "Club Leadership", leadership_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- CREATE USER  -->
            <li>
              <%= link_to new_user_path do %>
                <span class="glyphicon glyphicon-user"></span>
                &nbsp;Add Member
              <% end %>
            </li>

            <!-- IMPORT FUNCTIONS  -->
            <li role="presentation" class="divider"></li>
            <li>
              <%= link_to(import_show_users_path) do %>
                <span class="glyphicon glyphicon-import text-default"></span>
                &nbsp;Import from local system
              <% end %>
            </li>
            <li>
              <%= link_to(import_google_users_path) do %>
                <span class="fa fa-google text-success"></span>
                &nbsp;Import from Google
              <% end %>
            </li>

            <!-- DELETE ALL!!!  -->
            <li role="presentation" class="divider"></li>
            <li>              
              <%= link_to(destroy_all_users_path, method: :delete, :data => {confirm: "This is a destructive operation.  Are you sure?"}, class: "text-center") do %>
                <span class="glyphicon glyphicon-alert text-danger pull-left"></span>
                Delete All
                <span class="glyphicon glyphicon-alert text-danger pull-right"></span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>

      <!-- SEARCH BAR -->
      <%= form_tag users_path, method: :get, class: "navbar-form navbar-right" do %>
        <div class="input-group">
          <%= text_field_tag 'search', nil, placeholder: "Search...", class: "form-control" %>
          <span class="input-group-btn">
            <%= button_tag("", class: "btn btn-success", type: :submit) do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </span>
        </div>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>